.ipgs-theme-default .ipgs-page {
	border-radius: 10px 10px 10px 10px;
}

.ipgs-page .ipgs-front {
	border: 1px solid #dde6ed;
	/* box-shadow: 5px 5px 5px lightslategrey; */
	/* box-shadow: #F1F6F9 0px 20px 30px -10px; */
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 10px 10px 10px 10px;
}

.ipgs-page.ipgs-left .ipgs-front:before,
.ipgs-page.ipgs-right .ipgs-front:before {
	content: "";
	position: absolute;
	width: 25px;
	height: 100%;
	pointer-event: none;
}

.ipgs-page.ipgs-left .ipgs-front:before {
	right: 0;
	background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
}

.ipgs-page.ipgs-right .ipgs-front:before {
	left: 0;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
}

.ipgs-theme-default .ipgs-page .ipgs-extra .ipgs-number {
	font-size: 2em;
}
